<div class='container my-3'>
  <div class='row mx-auto justify-content-center'>

    <h1 class='display-1'>About</h1>

<h4 class="text-center">
  <span class="pb-3">ながのCAKEは全国発送可能なケーキ屋さんです。</span></br >
  <span class="pb-3">お子様からお年寄りの方までお召し上がりいただけるよう、</span></br >
  <span class="pb-3">様々なバリエーションをご用意しております。</span></br >
  <span class="pb-3">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</span></br >
  <span class="pb-3">ぜひご注文ください！</span>
</h4>

  <div class="img-container">
    <%= image_tag "About.jpeg", class: "img-fluid rounded", size: '400x400' %>
  </div>

  </div>
</div>

<!--　画像挿入予定場所についてはレイアウトを整える時に挿入予定　-->