<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--ジャンル検索の部分テンプレート-->
    </div>
    <div class='col-md-8 offset-md-1'>
      <div>
        <p>ようこそ、ながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </p>
      </div>
        <h3>新着商品</h3>
          <div class="row">
              <% @items_new.each do |item| %>
                <div class="col-3" >
                  <div class="items_new">
                    <%= link_to item_path(item.id) do %>
                      <p><%= image_tag item.get_item_image, size:'100x100' %></p>
                    <% end %>
                      <p><%= item.name %></p>
                      <p>￥<%= item.unit_price %></p>
                  </div>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</div>