<h1>商品一覧</h1>
<table class= "table table-hover table-inverse" >
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <!--商品一覧画面をeachメソッドで表示予定-->
  </tbody>
</table>