<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="d-flex">
        <div class="p-2">商品一覧</div>
        <div class="ml-auto p-2">商品追加ボタン追加予定</div>
      </div>

      <table class="table table-hover table-inverse" >
        <thead class="thead-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th></th>
          <th>ステータス</th>
        </thead>

        <tbody>
          <!--10/20 商品一覧画面をeachメソッドで表示予定-->
        </tbody>
      </table>
    </div>
  </div>
</div>