<% if address.errors.any? %>
  <%= pluralize(address.errors.count, "error") %>件のエラーが発生しました
  <ul>
    <% address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>