<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1>商品一覧</h1>

        <div>
          <% @items.each do |item| %>
            <span>No.<%= item.id %></span><br>
            <span>商品画像：<%= image_tag item.get_item_image, size:'100x100' %></span><br>
            <span>商品名：<%= item.name %></span><br>
            <span>税抜き<%= item.unit_price %>円</span><br><br>
          <% end %>
        </div>

    </div>
  </div>
</div>